In [9]:
import pandas as pd
import numpy as np
import re

df = pd.read_parquet('output/sentiments.parquet')
df.dropna(inplace=True)
df = df[(df['review'].apply(lambda x: re.match(r'^[()\[\]{}\'!,.: ]+$', x) is None)) & (df['review'].apply(lambda x: len(x) > 1))]
df.drop_duplicates(subset='review', ignore_index=True, inplace=True)
df.reset_index(drop=True, inplace=True)

df['sentiment'] = df['sentiment'].map({
    'Very Negative': 1,
    'Negative': 2,
    'Neutral': 3,
    'Positive': 4,
    'Very Positive': 5
})

df['game'] = df['game'].astype('category')

df

,topic,review,embedding,sentiment,game
0,gameplay mechanics,Excellent game mechanics hampered by really sh...,"[0.02064609, 0.058051355, -0.15955217, -0.0282...",2,1653100
1,gameplay mechanics,I love the narrator just talking in the backgr...,"[-0.01935661, 0.021597555, -0.18828672, -0.039...",4,1653100
2,gameplay mechanics,The game has received frequent and substantial...,"[0.030498626, 0.035088323, -0.17761268, -0.017...",4,1653100
3,gameplay mechanics,Heliotropism is a roguelike Tree simulator wit...,"[-0.005617, 0.06219709, -0.17552276, -0.042904...",4,1653100
4,narrator and audio,"the narrator is cool at first, then hyper anno...","[0.01688186, 0.010326986, -0.16718766, -0.0392...",2,1653100
...,...,...,...,...,...
91564,game mechanics,"The core gameplay is rather simple, but honest...","[0.027327502, 0.0755041, -0.17156118, -0.01077...",4,2300300
91565,music and sound,Хорошее музыкальное и звуковое сопровождение.,"[-0.035658363, -0.0012977426, -0.1295827, 0.02...",4,2300300
91566,music and sound,"I like the music, it's nice relaxing.","[-0.020432916, 0.03288259, -0.18042335, -0.001...",4,2300300
91567,price and value,The asking price might be a bit steep for what...,"[0.012826282, 0.04906256, -0.20521845, 0.02795...",3,2300300
91568,price and value,"Price may be daunting, but imho totally fine,","[0.0510065, 0.08310697, -0.12859619, 0.0180734...",4,2300300

In [10]:
games = pd.read_csv('./data/Game List - Final.csv')
games = games.dropna(subset=['SteamID']).rename(columns={'List (merge)': 'Game'})
games = games[games['Final decision'] == 'Yes']
games['SteamID'] = games['SteamID'].astype(int).astype(str).astype('category')

#df = games[['Game', 'SteamID']].merge(df, left_on='SteamID', right_on='game', how='inner')
#df

In [11]:
from src.embed import get_embedding
from sklearn.metrics.pairwise import cosine_similarity

citation_embeddings = np.vstack(df['embedding'].values)

def get_similar_citations(query, embeddings, threshold):    
    query_embedding = get_embedding([query])
    similarities = cosine_similarity(query_embedding, embeddings).flatten()
    indices = np.argwhere(similarities >= threshold)
    return indices.flatten()

In [12]:
import json

queries: dict = json.load(open('data/queries.json'))

results = {
    category: {
        q['name']: df.loc[get_similar_citations(q['name'], citation_embeddings, q['similarity_threshold'])]
        for q in cat_queries
    }
    for category, cat_queries in queries.items()
}

In [13]:
def get_table(results, agg_fn):
    df = pd.DataFrame()
    for category, queries in results.items():
        for query, citations in queries.items():
            df[(category, query)] = agg_fn(citations)
    df.columns = pd.MultiIndex.from_tuples(df.columns, names=['category', 'query'])
    return df

In [14]:
# count occurrences of each game for each query

get_table(results, lambda x: x['game'].value_counts())

category Gameplay Mechanics                                         \
query                Puzzle Survival Sandbox Building and Crafting
game
1593030                  54        0       5                    39
1875060                  23        0       1                     8
1372320                  12        0      62                     4
2300300                   7        0       0                     0
222730                    6        0      11                    10
2109270                   5        0       1                     0
1062090                   4       16      64                   539
1575510                   3        0       0                     0
914750                    2        0       0                     0
1446000                   2        0       0                     0
1612100                   1        0       0                     0
2878100                   1        0       0                     0
1346210                   0        0       0                     0
1582290                   0        0       0                     0
1390190                   0        0       5                    19
1450250                   0        0       0                     1
1539580                   0        0       0                     0
1133120                   0        0       3                     0
1028590                   0        0       0                     0
1837210                   0        0       0                     0
1647190                   0        0       0                     1
1956670                   0        0       0                     0
1919350                   0        0       0                     0
1837330                   0        0       0                     0
2211500                   0        0       0                     0
2289390                   0        0       0                     0
2294910                   0        0       0                     0
1737200                   0        0       1                     0
1653100                   0        0       0                     0
2576600                   0        0       0                     0
244710                    0        4       1                     2
2635350                   0        0       1                     1
2594480                   0        1       0                     0
275100                    0        2       1                     2
3059480                   0        0       0                     0
382310                    0       13      26                   204
2634610                   0        0       0                     0
431180                    0        0       0                     0
434000                    0        0       0                     0
512460                    0        1       2                     0
486310                    0        1       2                     1
853550                    0        0      28                     7
898890                    0        3       0                     1
916900                    0        0       0                     0
926990                    0        2       1                     1

category                                                             \
query    Combat System and Action Economy and Management Simulation
game
1593030                         1                      6          4
1875060                         1                      3          1
1372320                         0                      0          0
2300300                         0                      0          0
222730                          0                      8          8
2109270                         0                      0          0
1062090                         2                     78         32
1575510                         0                      0          0
914750                          4                      0          9
1446000                         0                      0          0
1612100                         0                      0          0
2878100                         0                      0          0
1346210                         0                      0          0
1582290                         0                      0          0
1390190                         1                      3          1
1450250                         0                      0          0
1539580                         0                      0          1
1133120                         0                      0          4
1028590                         0                      0          1
1837210                         0                      0          0
1647190                         0                      1          0
1956670                         0                      1          0
1919350                         0                      0          0
1837330                         0                      0          0
2211500                         0                      0          0
2289390                         0                      1          0
2294910                         0                      0          0
1737200                         0                      0          0
1653100                         0                      0          0
2576600                         0                      0          0
244710                          0                      0          1
2635350                         0                      0          0
2594480                         0                      0          0
275100                          0                      0          3
3059480                         0                      0          1
382310                          7                     43         22
2634610                         0                      0          0
431180                          1                      0          1
434000                          0                      0          0
512460                          3                      0          0
486310                          2                      0          1
853550                          0                      4         17
898890                          0                      0          0
916900                          0                      0          1
926990                          6                      0         34

category                                                      \
query    Storytelling and Narrative Achievements and Rewards
game
1593030                           0                       17
1875060                           0                       11
1372320                           2                        1
2300300                           0                        4
222730                            3                       50
2109270                           0                        2
1062090                           7                       53
1575510                           0                        1
914750                            7                       10
1446000                           0                        1
1612100                           0                        0
2878100                           0                        2
1346210                           0                        0
1582290                           0                        1
1390190                           0                        2
1450250                           2                        0
1539580                           1                        3
1133120                           0                        0
1028590                           0                        0
1837210                           0                        0
1647190                           0                        0
1956670                           0                        0
1919350                           1                        1
1837330                           6                        2
2211500                           0                        0
2289390                           0                        0
2294910                           0                        0
1737200                           0                        0
1653100                           0                        1
2576600                           0                        0
244710                            8                        1
2635350                           0                        0
2594480                           0                        0
275100                            5                        3
3059480                           0                        0
382310                            0                        7
2634610                           0                        0
431180                            0                        6
434000                            3                        3
512460                            1                        0
486310                            0                        3
853550                            0                       12
898890                           32                        2
916900                            5                        5
926990                            2                       10

category Player Experience and Engagement  ...  \
query       Learning curve and Difficulty  ...
game                                       ...
1593030                                80  ...
1875060                                19  ...
1372320                                13  ...
2300300                                 6  ...
222730                                 95  ...
2109270                                 5  ...
1062090                               320  ...
1575510                                 1  ...
914750                                  3  ...
1446000                                 0  ...
1612100                                 0  ...
2878100                                 6  ...
1346210                                 2  ...
1582290                                 1  ...
1390190                                11  ...
1450250                                 0  ...
1539580                                 1  ...
1133120                                 2  ...
1028590                                 0  ...
1837210                                 0  ...
1647190                                 1  ...
1956670                                 1  ...
1919350                                 7  ...
1837330                                 2  ...
2211500                                 0  ...
2289390                                 4  ...
2294910                                 1  ...
1737200                                 0  ...
1653100                                 2  ...
2576600                                 0  ...
244710                                 11  ...
2635350                                 1  ...
2594480                                 0  ...
275100                                 12  ...
3059480                                 1  ...
382310                                114  ...
2634610                                 1  ...
431180                                  9  ...
434000                                  2  ...
512460                                  2  ...
486310                                  2  ...
853550                                 26  ...
898890                                  1  ...
916900                                  1  ...
926990                                 59  ...

category Technical and Performance Aspects                         \
query                   Controls and Input Accessibility Features
game
1593030                                  1                      0
1875060                                  2                      0
1372320                                  4                      0
2300300                                  0                      0
222730                                   8                      0
2109270                                  0                      0
1062090                                 20                      4
1575510                                  3                      0
914750                                   3                      0
1446000                                  0                      0
1612100                                  0                      0
2878100                                  0                      0
1346210                                  0                      0
1582290                                  0                      0
1390190                                  0                      6
1450250                                  0                      0
1539580                                  4                      1
1133120                                  0                      0
1028590                                  0                      0
1837210                                  0                      0
1647190                                  0                      0
1956670                                  0                      0
1919350                                  0                      0
1837330                                  3                      0
2211500                                  1                      0
2289390                                  0                      0
2294910                                  0                      0
1737200                                  1                      0
1653100                                  0                      0
2576600                                  0                      0
244710                                  22                      0
2635350                                  0                      0
2594480                                  0                      0
275100                                  14                      0
3059480                                  0                      0
382310                                   9                      0
2634610                                  0                      0
431180                                   7                      1
434000                                   8                      0
512460                                   1                      0
486310                                  11                      1
853550                                   5                      0
898890                                   7                      0
916900                                   5                      0
926990                                  16                      2

category                             Social and Educational Aspects  \
query    Navigation and Menu Systems                    Multiplayer
game
1593030                            1                              4
1875060                            0                              2
1372320                            0                              0
2300300                            0                              0
222730                             0                              4
2109270                            0                              0
1062090                            4                             44
1575510                            0                              1
914750                             0                              5
1446000                            0                              0
1612100                            0                              1
2878100                            0                              0
1346210                            0                              0
1582290                            0                              0
1390190                            6                             12
1450250                            0                              0
1539580                            0                              6
1133120                            1                              0
1028590                            0                              1
1837210                            0                              0
1647190                            0                              0
1956670                            0                              0
1919350                            0                              0
1837330                            0                              1
2211500                            0                              0
2289390                            0                              0
2294910                            0                              0
1737200                            0                              0
1653100                            0                              0
2576600                            0                              0
244710                             0                              3
2635350                            0                              1
2594480                            0                              0
275100                             0                              1
3059480                            0                              0
382310                             7                            118
2634610                            0                              0
431180                             1                             41
434000                             0                              1
512460                             0                              3
486310                             0                             14
853550                             2                              1
898890                             0                              0
916900                             1                              0
926990                             2                            107

category                                              \
query    Gaming Community Dynamics Educational Value
game
1593030                          0                 2
1875060                          0                 0
1372320                          0                 0
2300300                          0                 0
222730                           1                 0
2109270                          0                 0
1062090                          7                 0
1575510                          0                 0
914750                           0                 3
1446000                          0                 0
1612100                          0                 0
2878100                          0                 0
1346210                          0                 0
1582290                          0                 0
1390190                          0                 0
1450250                          0                 0
1539580                          0                 0
1133120                          0                 0
1028590                          0                 0
1837210                          0                 0
1647190                          0                 0
1956670                          0                 0
1919350                          0                 0
1837330                          0                 0
2211500                          0                 0
2289390                          0                 0
2294910                          0                 0
1737200                          0                 0
1653100                          0                 0
2576600                          0                 0
244710                           0                 0
2635350                          0                 0
2594480                          0                 0
275100                           0                 1
3059480                          0                 0
382310                          33                 4
2634610                          0                 0
431180                           0                 1
434000                           0                 0

In [15]:
# average sentiment for each query

get_table(results, lambda x: x.groupby('game', observed=False)['sentiment'].mean())

category Gameplay Mechanics                                            \
query                Puzzle  Survival   Sandbox Building and Crafting
game
1028590                 NaN       NaN       NaN                   NaN
1062090            3.000000  3.875000  3.843750              4.098330
1133120                 NaN       NaN  4.000000                   NaN
1346210                 NaN       NaN       NaN                   NaN
1372320            4.333333       NaN  3.774194              4.250000
1390190                 NaN       NaN  4.400000              4.000000
1446000            4.000000       NaN       NaN                   NaN
1450250                 NaN       NaN       NaN              3.000000
1539580                 NaN       NaN       NaN                   NaN
1575510            3.666667       NaN       NaN                   NaN
1582290                 NaN       NaN       NaN                   NaN
1593030            4.148148       NaN  3.800000              3.923077
1612100            4.000000       NaN       NaN                   NaN
1647190                 NaN       NaN       NaN              4.000000
1653100                 NaN       NaN       NaN                   NaN
1737200                 NaN       NaN  4.000000                   NaN
1837210                 NaN       NaN       NaN                   NaN
1837330                 NaN       NaN       NaN                   NaN
1875060            4.391304       NaN  3.000000              4.375000
1919350                 NaN       NaN       NaN                   NaN
1956670                 NaN       NaN       NaN                   NaN
2109270            4.200000       NaN  4.000000                   NaN
2211500                 NaN       NaN       NaN                   NaN
222730             4.333333       NaN  3.363636              3.200000
2289390                 NaN       NaN       NaN                   NaN
2294910                 NaN       NaN       NaN                   NaN
2300300            4.428571       NaN       NaN                   NaN
244710                  NaN  3.250000  3.000000              2.500000
2576600                 NaN       NaN       NaN                   NaN
2594480                 NaN  4.000000       NaN                   NaN
2634610                 NaN       NaN       NaN                   NaN
2635350                 NaN       NaN  3.000000              5.000000
275100                  NaN  3.000000  4.000000              3.000000
2878100            3.000000       NaN       NaN                   NaN
3059480                 NaN       NaN       NaN                   NaN
382310                  NaN  4.153846  4.192308              3.784314
431180                  NaN       NaN       NaN                   NaN
434000                  NaN       NaN       NaN                   NaN
486310                  NaN  1.000000  4.000000              1.000000
512460                  NaN  3.000000  3.000000                   NaN
853550                  NaN       NaN  3.928571              4.285714
898890                  NaN  4.000000       NaN              3.000000
914750             3.000000       NaN       NaN                   NaN
916900                  NaN       NaN       NaN                   NaN
926990                  NaN  5.000000  2.000000              5.000000

category                                                             \
query    Combat System and Action Economy and Management Simulation
game
1028590                       NaN                    NaN   4.000000
1062090                  3.000000               3.987179   4.000000
1133120                       NaN                    NaN   4.500000
1346210                       NaN                    NaN        NaN
1372320                       NaN                    NaN        NaN
1390190                  3.000000               3.666667   5.000000
1446000                       NaN                    NaN        NaN
1450250                       NaN                    NaN        NaN
1539580                       NaN                    NaN   3.000000
1575510                       NaN                    NaN        NaN
1582290                       NaN                    NaN        NaN
1593030                  4.000000               3.833333   3.500000
1612100                       NaN                    NaN        NaN
1647190                       NaN               4.000000        NaN
1653100                       NaN                    NaN        NaN
1737200                       NaN                    NaN        NaN
1837210                       NaN                    NaN        NaN
1837330                       NaN                    NaN        NaN
1875060                  4.000000               4.000000   4.000000
1919350                       NaN                    NaN        NaN
1956670                       NaN               4.000000        NaN
2109270                       NaN                    NaN        NaN
2211500                       NaN                    NaN        NaN
222730                        NaN               3.500000   4.000000
2289390                       NaN               4.000000        NaN
2294910                       NaN                    NaN        NaN
2300300                       NaN                    NaN        NaN
244710                        NaN                    NaN   3.000000
2576600                       NaN                    NaN        NaN
2594480                       NaN                    NaN        NaN
2634610                       NaN                    NaN        NaN
2635350                       NaN                    NaN        NaN
275100                        NaN                    NaN   3.000000
2878100                       NaN                    NaN        NaN
3059480                       NaN                    NaN   4.000000
382310                   3.142857               3.581395   3.409091
431180                   1.000000                    NaN   5.000000
434000                        NaN                    NaN        NaN
486310                   3.000000                    NaN   3.000000
512460                   2.333333                    NaN        NaN
853550                        NaN               3.500000   4.000000
898890                        NaN                    NaN        NaN
914750                   2.250000                    NaN   2.555556
916900                        NaN                    NaN   2.000000
926990                   3.166667                    NaN   4.382353

category                                                      \
query    Storytelling and Narrative Achievements and Rewards
game
1028590                         NaN                      NaN
1062090                    2.714286                 3.452830
1133120                         NaN                      NaN
1346210                         NaN                      NaN
1372320                    4.000000                 3.000000
1390190                         NaN                 5.000000
1446000                         NaN                 4.000000
1450250                    4.000000                      NaN
1539580                    5.000000                 3.000000
1575510                         NaN                 3.000000
1582290                         NaN                 4.000000
1593030                         NaN                 4.058824
1612100                         NaN                      NaN
1647190                         NaN                      NaN
1653100                         NaN                 3.000000
1737200                         NaN                      NaN
1837210                         NaN                      NaN
1837330                    4.166667                 3.500000
1875060                         NaN                 4.090909
1919350                    3.000000                 5.000000
1956670                         NaN                      NaN
2109270                         NaN                 3.000000
2211500                         NaN                      NaN
222730                     2.333333                 3.560000
2289390                         NaN                      NaN
2294910                         NaN                      NaN
2300300                         NaN                 2.750000
244710                     3.125000                 1.000000
2576600                         NaN                      NaN
2594480                         NaN                      NaN
2634610                         NaN                      NaN
2635350                         NaN                      NaN
275100                     4.400000                 3.000000
2878100                         NaN                 1.000000
3059480                         NaN                      NaN
382310                          NaN                 3.714286
431180                          NaN                 3.000000
434000                     4.000000                 3.333333
486310                          NaN                 2.666667
512460                     1.000000                      NaN
853550                          NaN                 3.750000
898890                     4.218750                 5.000000
914750                     4.142857                 2.300000
916900                     3.800000                 3.600000
926990                     4.000000                 3.800000

category Player Experience and Engagement  ...  \
query       Learning curve and Difficulty  ...
game                                       ...
1028590                               NaN  ...
1062090                          3.493750  ...
1133120                          2.500000  ...
1346210                          3.000000  ...
1372320                          3.461538  ...
1390190                          3.181818  ...
1446000                               NaN  ...
1450250                               NaN  ...
1539580                          2.000000  ...
1575510                          3.000000  ...
1582290                          5.000000  ...
1593030                          3.587500  ...
1612100                               NaN  ...
1647190                          2.000000  ...
1653100                          3.500000  ...
1737200                               NaN  ...
1837210                               NaN  ...
1837330                          3.000000  ...
1875060                          3.736842  ...
1919350                          4.000000  ...
1956670                          4.000000  ...
2109270                          3.600000  ...
2211500                               NaN  ...
222730                           3.357895  ...
2289390                          3.000000  ...
2294910                          4.000000  ...
2300300                          3.333333  ...
244710                           3.000000  ...
2576600                               NaN  ...
2594480                               NaN  ...
2634610                          4.000000  ...
2635350                          3.000000  ...
275100                           3.083333  ...
2878100                          3.166667  ...
3059480                          3.000000  ...
382310                           3.070175  ...
431180                           3.666667  ...
434000                           3.500000  ...
486310                           3.500000  ...
512460                           3.000000  ...
853550                           3.230769  ...
898890                           4.000000  ...
914750                           3.000000  ...
916900                           5.000000  ...
926990                           4.050847  ...

category Technical and Performance Aspects                         \
query                   Controls and Input Accessibility Features
game
1028590                                NaN                    NaN
1062090                           3.300000                   2.75
1133120                                NaN                    NaN
1346210                                NaN                    NaN
1372320                           2.750000                    NaN
1390190                                NaN                   4.50
1446000                                NaN                    NaN
1450250                                NaN                    NaN
1539580                           2.500000                   3.00
1575510                           3.666667                    NaN
1582290                                NaN                    NaN
1593030                           2.000000                    NaN
1612100                                NaN                    NaN
1647190                                NaN                    NaN
1653100                                NaN                    NaN
1737200                           3.000000                    NaN
1837210                                NaN                    NaN
1837330                           4.000000                    NaN
1875060                           3.000000                    NaN
1919350                                NaN                    NaN
1956670                                NaN                    NaN
2109270                                NaN                    NaN
2211500                           4.000000                    NaN
222730                            3.250000                    NaN
2289390                                NaN                    NaN
2294910                                NaN                    NaN
2300300                                NaN                    NaN
244710                            2.727273                    NaN
2576600                                NaN                    NaN
2594480                                NaN                    NaN
2634610                                NaN                    NaN
2635350                                NaN                    NaN
275100                            2.214286                    NaN
2878100                                NaN                    NaN
3059480                                NaN                    NaN
382310                            2.555556                    NaN
431180                            2.714286                   2.00
434000                            2.250000                    NaN
486310                            2.000000                   3.00
512460                            1.000000                    NaN
853550                            3.600000                    NaN
898890                            2.714286                    NaN
914750                            3.333333                    NaN
916900                            2.400000                    NaN
926990                            3.562500                   3.50

category                             Social and Educational Aspects  \
query    Navigation and Menu Systems                    Multiplayer
game
1028590                          NaN                       4.000000
1062090                     2.250000                       4.022727
1133120                     2.000000                            NaN
1346210                          NaN                            NaN
1372320                          NaN                            NaN
1390190                     4.333333                       2.583333
1446000                          NaN                            NaN
1450250                          NaN                            NaN
1539580                          NaN                       3.166667
1575510                          NaN                       5.000000
1582290                          NaN                            NaN
1593030                     3.000000                       4.000000
1612100                          NaN                       5.000000
1647190                          NaN                            NaN
1653100                          NaN                            NaN
1737200                          NaN                            NaN
1837210                          NaN                            NaN
1837330                          NaN                       4.000000
1875060                          NaN                       4.500000
1919350                          NaN                            NaN
1956670                          NaN                            NaN
2109270                          NaN                            NaN
2211500                          NaN                            NaN
222730                           NaN                       4.000000
2289390                          NaN                            NaN
2294910                          NaN                            NaN
2300300                          NaN                            NaN
244710                           NaN                       4.000000
2576600                          NaN                            NaN
2594480                          NaN                            NaN
2634610                          NaN                            NaN
2635350                          NaN                       2.000000
275100                           NaN                       3.000000
2878100                          NaN                            NaN
3059480                          NaN                            NaN
382310                      2.000000                       3.652542
431180                      4.000000                       3.853659
434000                           NaN                       4.000000
486310                           NaN                       4.071429
512460                           NaN                       4.000000
853550                      2.500000                       4.000000
898890                           NaN                            NaN
914750                           NaN                       3.400000
916900                      4.000000                            NaN
926990                      3.000000                       3.906542

category                                              \
query    Gaming Community Dynamics Educational Value
game
1028590                        NaN               NaN
1062090                   4.571429               NaN
1133120                        NaN               NaN
1346210                        NaN               NaN
1372320                        NaN               NaN
1390190                        NaN               NaN
1446000                        NaN               NaN
1450250                        NaN               NaN
1539580                        NaN               NaN
1575510                        NaN               NaN
1582290                        NaN               NaN
1593030                        NaN          4.000000
1612100                        NaN               NaN
1647190                        NaN               NaN
1653100                        NaN               NaN
1737200                        NaN               NaN
1837210                        NaN               NaN
1837330                        NaN               NaN
1875060                        NaN               NaN
1919350                        NaN               NaN
1956670                        NaN               NaN
2109270                        NaN               NaN
2211500                        NaN               NaN
222730                    4.000000               NaN
2289390                        NaN               NaN
2294910                        NaN               NaN
2300300                        NaN               NaN
244710                         NaN               NaN
2576600                        NaN               NaN
2594480                        NaN               NaN
2634610                        NaN               NaN
2635350                        NaN               NaN
275100                         NaN          3.000000
2878100                        NaN               NaN
3059480                        NaN               NaN
382310                    4.393939          4.000000